@model IEnumerable<Product>

<div class="row">
    @foreach( var product in Model)
    {
            <div class="col-lg-3 col-sm-6 pb-4">
            <div class="card">
                    <img src="@product.ImageUrl" />
                    <div class="card-body">
                        <div>@product.Title</div>
                        <div>Author: @product.Author</div>
                        <div>As low as: <span>@product.Price100.ToString("c")</span></div>
                    </div>
                    <div class="p-3">
                        <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary form-control">Details</a>
                    </div>
                </div>
            </div>
    }
</div>